flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0a08e87cacec4ff6",
        "type": "mqtt-broker",
        "name": "Serv",
        "broker": "172.17.50.232",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5eca6225054394b1",
        "type": "ui_tab",
        "name": "Tableau de Bord",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e784a59aed2bf260",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3196b25e0db94ac3",
        "type": "ui_group",
        "name": "Sonomètres",
        "tab": "5eca6225054394b1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1865e4a40188e513",
        "type": "ui_group",
        "name": "Capteur CO2",
        "tab": "5eca6225054394b1",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1dc859a43ace8e7e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Sonomètre 1",
        "topic": "ciel/a120/sono/sono1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a08e87cacec4ff6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "bd24345fe142da5d"
            ]
        ]
    },
    {
        "id": "bd24345fe142da5d",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "27f61ed02a940594",
                "03db32c7d8eb49f8",
                "17d62b04828e3c2a",
                "f2253f91fc389891"
            ]
        ]
    },
    {
        "id": "03db32c7d8eb49f8",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3196b25e0db94ac3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sono 1",
        "label": "dB",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "17d62b04828e3c2a",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "3196b25e0db94ac3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "1er Niveau Sonore",
        "format": "{{msg.payload}} dB",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "f2253f91fc389891",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3196b25e0db94ac3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Evolution Sono 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "27f61ed02a940594",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug Sono 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "225f98f7ea0acc84",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Sonomètre 2",
        "topic": "ciel/a120/sono/sono2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a08e87cacec4ff6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "6986ffa7f86bb827"
            ]
        ]
    },
    {
        "id": "6986ffa7f86bb827",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "17a985167024fa58",
                "9538cc3be3462d18",
                "acfccdd3ec4c0e31",
                "b35bb58fc3610dd5"
            ]
        ]
    },
    {
        "id": "9538cc3be3462d18",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3196b25e0db94ac3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sono 2",
        "label": "dB",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "acfccdd3ec4c0e31",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "3196b25e0db94ac3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "2e Niveau Sonore",
        "format": "{{msg.payload}} dB",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "b35bb58fc3610dd5",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3196b25e0db94ac3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Evolution Sono 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "17a985167024fa58",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug Sono 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "93703d47797e61dc",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Capteur CO2",
        "topic": "ciel/a120/co2/co21",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a08e87cacec4ff6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "73aa84e47c7bb8e0"
            ]
        ]
    },
    {
        "id": "73aa84e47c7bb8e0",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "632406bf7923ade4"
            ]
        ]
    },
    {
        "id": "6b28484c589aa1ab",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1865e4a40188e513",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Capteur CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "350",
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 580,
        "wires": []
    },
    {
        "id": "d7074d556fb04ad0",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "3196b25e0db94ac3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Capteur CO2",
        "format": "{{msg.payload}} ppm",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "f9488d32387cd887",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3196b25e0db94ac3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Evolution CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "89550f3706ba14fb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug CO2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "632406bf7923ade4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = msg.payload.co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "fb3337666eed27e5"
            ]
        ]
    },
    {
        "id": "fb3337666eed27e5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 580,
        "wires": [
            [
                "89550f3706ba14fb",
                "6b28484c589aa1ab",
                "d7074d556fb04ad0",
                "f9488d32387cd887"
            ]
        ]
    },
    {
        "id": "150d968ce9ac45ce",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]